<div class="container">
    <h3>{{name}} </h3>
    <div class="form-group">
        <input type="email" class="form-control" placeholder="To" [(ngModel)]="destinationEmail.to">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Subject" [(ngModel)]="destinationEmail.messageSubject">
    </div>
    <div class="form-group">

        <angular-editor [(ngModel)]="destinationEmail.html" [config]="config"></angular-editor>

    </div>

    <div class="form-group m-b-0">
        <div class="text-right">
            <button class="btn btn-primary waves-effect waves-light" (click)="send()"> <span>Send</span> <i class="mdi mdi-send ml-2"></i> </button>
        </div>
    </div>

</div>
